{% extends 'wsite/base.html' %}

{% load static %}
{% block content %}


<div class="row justify-content-center my-3">
	<div class="col-5">
		<img src="{% static 'wsite/DL.jpg' %}" height="400" width="400" class="img-fluid">
	</div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">David Lasso is Commander-in-Chief at somewhere, of something...</h1>
  </div>
</div>

<h2 class="mt-1">Profile</h2>
<hr>

<div class="row">
	{% for project in projects %}
	<div class="col-lg-4 col-md-6">
		{% if project.url %}
		<a href="{{ project.url }}">
			<img src="{{ project.image.url }}" class="img-fluid mb-2" height="200" width="200">
		</a>
		{% else %}
			<img src="{{ project.image.url }}" class="img-fluid mb-2">
		{% endif %}
		<h3>{{ project.title }}</h3>
		<p>{{ project.description }}</p>
	</div>
	{% endfor %}
</div>

<h2 class="mt-1">UK Covid roadmap out of lockdown countdown...</h2>
<p><i>Hover over steps to give you days left!</i></p>
<hr>
Step 1
<div class="row">
    <div class="columnR">
        <div class="containerR">
            <img src="{% static 'wsite/red.jpg' %}" alt="Step1" class="imageR">
            <div class="overlayR">
                <div class="textR">{{ s1.days }} Days till:<br> You can get drunk with one friend in the park</div>
            </div>
        </div>
    </div>

<!--Step 3-->
    <div class="columnG">
        <div class="containerG">
            <img src="{% static 'wsite/green.png' %}" alt="Step3" class="imageG">
            <div class="overlayG">
                <div class="textG">{{ s3.days }} Days till:<br> You can get drunk with 5 other people <b>inside the pub</b></div>
            </div>
        </div>
    </div>

<!--Step 1B-->
    <div class="columnO">
        <div class="containerO">
            <img src="{% static 'wsite/orange.png' %}" alt="Step1b" class="imageO">
            <div class="overlayO">
                <div class="textO">{{ s1B.days }} Days till:<br> You can get drunk with 5 other people in your garden</div>
            </div>
        </div>
    </div>

<!--Step 4-->
    <div class="columnB">
        <div class="containerB">
            <img src="{% static 'wsite/blue.png' %}" alt="Step4" class="imageB">
            <div class="overlayB">
                <div class="textB">{{ s4.days }} Days till:<br> You can get drunk inside or outside, hug everyone and tell them <b>you love them!!</b></div>
            </div>
        </div>
    </div>

<!--Step 2-->
    <div class="columnY">
        <div class="containerY">
            <img src="{% static 'wsite/yellow.png' %}" alt="Step2" class="imageY">
            <div class="overlayY">
                <div class="textY">{{ s2.days }} Days till:<br> You can get drunk with 5 other people in a <b>pub garden</b></div>
            </div>
        </div>
    </div>
</div>

{% endblock%}