{% extends 'wsite/base.html' %}

{% load static %}
{% block content %}
<br>
<br>
<h2 class="mt-1">St George's Day & Boys Social...</h2>
<p><i>For Countdown Days we have left, hover over Beer O'clock!</i></p>
<hr>

<div class="row justify-content-center my-3">
        <div class="columnH">
            <div class="containerH">
                <img src="{% static 'wsite/bOc.png' %}" alt="handSp" class="imageH" style="width:500px;height:500px" class="img-responsive">
                <div class="middleH">
                    <div class="textH"><b>In {{ beer.days }} Days and counting...</b></div>
                </div>
            </div>
        </div>
</div>

{% endblock%}